
        body {
            background-color:#ccc;
            font-family:sans-serif;
            font-style: italic;
        }
        h1 {
            padding: 20px;
            text-align: center;
        }
        .page {
            margin: auto;
            background-color: #fff;
            border-radius: 10px;

        }
        .inner {
            margin: auto;

        }
        .img {
            display: block;
            margin-left: auto;
            margin-right: auto 
        }
      
        .input {
            width: 30px;
            height: 50px;
            font-size: 30px;
        }
     
        .answer {
            margin: auto;
            width: 800px;
            
            
            
            border: aqua 20px;
        }
        .btn {
          
            width: 800px;
            background-color: rgb(161, 205, 215);
            border: 1px solid rgb(198, 192, 192);
            border-radius: 10px;
            padding:20px;
            margin: 20px 2px;
         
            
         
            
        }
    